services:
    asf_layout.flash_message:
        class: ASF\LayoutBundle\Session\FlashMessage
        arguments: ["@session"]
        
    asf_layout.twig.extension.flash_messages:
        class: ASF\LayoutBundle\Twig\Extension\FlashMessagesExtension
        tags:
            - { name: twig.extension }
            
    asf_layout.alerts:
        alias: asf_layout.twig.extension.flash_messages